.side-bar
  .side-bar_user-name
    .side-bar_user-name_top-item
      .side-bar_user-name_top-item_name
        masa
      .side-bar_user-name_top-item_icon-list
        = link_to "#", class: "side-bar_user-name_top-item_icon-list_icon1" do
          = icon('far', 'edit')
        = link_to "#", class: "side-bar_user-name_top-item_icon-list_icon2" do
          = icon('fas', 'cog')
  .side-bar_group-list
    .side-bar_group-list_group-box
      .side-bar_group-list_group-box_group-name
        abcd
      .side-bar_group-list_group-box_group-message
        hello