.side-bar
  .side-bar_user-name
    .top-item
      .top-item_name
        masa
      .top-item_icon-list
        = link_to "#", class: "top-item_icon1" do
          = icon('far', 'edit')
        = link_to "#", class: "top-item_icon2" do
          = icon('fas', 'cog')
  .side-bar_group-list
    .side-bar_group
      .side-bar_group-name
        abcd
      .side-bar_group-message
        hello